home.vtl


<form action='/restaurants' method='post'>
  <div class="form-group">
    <label for="restaurant">Enter a New Restaurant:</label>
    <input type= "text" class="form-control" id="restaurant" name="restaurant">
  </div>
  <button class="btn" type="submit">Submit</button>
</form>
